body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.deco-font {
  font-family: 'Alatsi', sans-serif;
  font-size: 2.5em;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
}

.input-form {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}

form {
  text-align: left;
  display: inline-block;
  padding: 1em;
}

.btnRow {
  margin-top: 2em;
  text-align: center;
}

button {
  padding: 1em 2em;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans;
  border-radius: 4px;
  border: none;
  outline: 0! important;
  margin-right: 1em;
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

button:focus {outline:0;}

button:hover { background-position: right center; cursor: pointer; }


input {
  padding: 1em;
  border: 10px;
  border-radius: 4px;
}